*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation-bar{
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
  background-color: #2D2D2D;
  position: fixed;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  list-style: none;
  z-index: 999;
  
}

.logo-brand{
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.logo-brand-stone{
  width: 120px; /* instead of 20% */
  height: auto;
  transition: 0.3s ease;


}
.logo-brand-stone:hover{
  transform: scale(1.1);
}


.navigation-container-links{
  display: flex;
  align-items: center;
  justify-content: center; /* Center nav links */
  gap: 1.8rem;
  font-size: 20px;
  flex: 1;
  
}
.navigation-container-links a{
 
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #F7E05A;
  margin: 0 15px;
  transition: transform 0.1s;
  border: none;
  display: flex;
  position: relative;

}
.navigation-container-links a:hover{
    color: #FF6B35; /* dark text for contrast */
    transition: color 0.3s ease;
  }
.navigation-container-links a::after{
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 0%;
  bottom: -4px;
  background-color: #FF6B35;
  transition: width 0.3s;
}
.navigation-container-links a:hover::after{
  width: 100%;
}



.ctn-button button{
    background-image: linear-gradient(to right,#FF6B35, #F7E05A );
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #2D2D2D;
    display: flex;
    box-shadow: 0 0 20px rgba(247, 224, 90, 0.7);
    font-family: "Roboto", sans-serif;
    transition: transform 0.3s,opacity 0.3s;
    opacity: 0.9;
    font-family: "Roboto", sans-serif;
    font: bold;

}
.ctn-button button:hover{
  transform: scale(1.1);
  opacity: 1;
} 
.chronology-list{
  display: grid; /* make the ul a grid container */
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 30px; /* space between cards */
  padding: 0;
  margin: 0;
  list-style: none; /* define columns */
}
.model:hover{
  transform: scale(1.09);
}
.chronology-wrapper{
  background-image: linear-gradient(135deg,#F7E05A,#4CAF50);
  padding: 5%;
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.chronology-container{
  width: 100%;
}

.chronology-entry{
  list-style: none;
}
.chronology-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.chronology-info p{
font-family: sans-serif;
  font-weight: bold;
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
  line-height: 20px;
  letter-spacing: 2px;
}
.chronology-image{
  background: no-repeat;
  object-fit: cover;
  height: 500px;
  display: grid;
  border-radius: 30px;
  background-image: linear-gradient(145deg,#4CAF50,#2D2D2D );
  padding: 7px;
  border: 5px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
box-shadow: 11px 10px 12px 5px rgba(14, 14, 14, 0.719);
 
}
.chronology-image:hover{
  transform: scale(1.05);
    background-image: linear-gradient(145deg,#FF6B35,#1E3A8A );

}
.chronology-image-new{
 background: no-repeat;
  object-fit: cover;
  height: 500px;
  display: grid;
  border-radius: 30px;
  background-image: linear-gradient(155deg,#FF6B35,#4CAF50 );
  padding: 7px;
  border: 5px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
box-shadow: 11px 10px 12px 5px rgba(14, 14, 14, 0.719);
}
.chronology-image-new:hover{
transform: scale(1.05);
  background-image:linear-gradient(135deg, #00B8D9, #FF6B35);

}
.chronology-image-news{
   background: no-repeat;
  object-fit: cover;
  height: 500px;
  display: grid;
  border-radius: 30px;
  background-image: linear-gradient(150deg, #FF6B35, #1E3A8A);
  padding: 7px;
  border: 5px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
box-shadow: 11px 10px 12px 5px rgba(14, 14, 14, 0.719);
}
.chronology-image-news:hover{
  transform: scale(1.05);
  background-image: linear-gradient(155deg,#F7E05A,#1E3A8A );

}